ul{
	padding:0px;
	margin:0px;
}

header{
	margin:0 auto;
	padding:0 10px;
}

footer{
	margin:0 auto;
	margin-top:25px;
	padding:10px 10px;
}

nav{
	margin: 0 auto;
	margin-bottom:40px;
	width:595px;
	display:inline-block;
	vertical-align:top;
}

nav > ul {
	padding-bottom: 10px;
}

nav > ul li {
	display:inline-block;
	margin:0 6px;
	vertical-align:middle;
}

div#newsletter {
	display:inline-block;
	margin:0;
	vertical-align:top;
	padding-top:7px;
	margin-left:28px;
}

nav > ul li:nth-child(4){
	margin-left:0px;
}

section#header{
	width:780px;
	margin:0 auto;
	margin-bottom:20px;
}

div.div-footer{
	display:inline-block;
	vertical-align:middle;
	padding-right:40px;
	margin-right:41px;
	height:140px;
}

div.div-footer:last-child{
	padding-right:0px;
	margin-right:0px;
}

a.logo{
	display:block;
	margin: 0 auto;
	margin-bottom:15px;
	width:196px;
	height:191px;
	text-align:center;
}

div.div-footer p{
	width:262px;
}

div#mentions > h3{
	width:181px;
}

footer > section{
	width:940px;
	margin:0 auto;
}

div#equipe > ul li{
	margin: 10px 0;
}

.twitter, .facebook{
	margin:0px;
}

form#contact > ul{
	width:500px;
	margin:25px auto 0px auto;
}

form.news{
	margin:0px;
}

div#newsletter > p{
	margin-top:0px;
	margin-bottom:10px;
	padding-bottom:14px;
	border-bottom: solid 4px #6d233c;
}